In [ ]:
import pandas as pd

# Try ISO-8859-1 (Latin-1) encoding
df = pd.read_csv("superstore.csv", encoding='ISO-8859-1')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [9]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [13]:
df['Category'].value_counts()

Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64

In [14]:
df['Sub-Category'].value_counts()

Sub-Category
Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: count, dtype: int64

In [15]:
df.groupby(['Category', 'Sub-Category']).value_counts()

Category    Sub-Category  Row ID  Order ID        Order Date  Ship Date   Ship Mode       Customer ID  Customer Name    Segment      Country        City           State         Postal Code  Region   Product ID       Product Name                                                   Sales      Quantity  Discount  Profit
Furniture   Bookcases     1       CA-2016-152156  11/8/2016   11/11/2016  Second Class    CG-12520     Claire Gute      Consumer     United States  Henderson      Kentucky      42420        South    FUR-BO-10001798  Bush Somerset Collection Bookcase                              261.9600   2         0.00       41.9136      1
                          28      US-2015-150630  9/17/2015   9/21/2015   Standard Class  TB-21520     Tracy Blumstein  Consumer     United States  Philadelphia   Pennsylvania  19140        East     FUR-BO-10004834  Riverside Palais Royal Lawyers Bookcase, Royale Cherry Finish  3083.4300  7         0.50      -1665.0522    1
                          39      CA-2015-117415  12/27/2015  12/31/2015  Standard Class  SN-20710     Steve Nguyen     Home Office  United States  Houston        Texas         77041        Central  FUR-BO-10002545  Atlantic Metals Mobile 3-Shelf Bookcases, Custom Colors        532.3992   3         0.32      -46.9764      1
                          190     CA-2015-102281  10/12/2015  10/14/2015  First Class     MP-17470     Mark Packer      Home Office  United States  New York City  New York      10035        East     FUR-BO-10002613  Atlantic Metals Mobile 4-Shelf Bookcases, Custom Colors        899.1360   4         0.20       112.3920     1
                          193     CA-2015-102281  10/12/2015  10/14/2015  First Class     MP-17470     Mark Packer      Home Office  United States  New York City  New York      10035        East     FUR-BO-10002545  Atlantic Metals Mobile 3-Shelf Bookcases, Custom Colors        626.3520   3         0.20       46.9764      1
                                                                                                                                                                                                                                                                                                                                   ..
Technology  Phones        9974    US-2016-103674  12/6/2016   12/10/2016  Standard Class  AP-10720     Anne Pryor       Home Office  United States  Los Angeles    California    90032        West     TEC-PH-10004080  Avaya 5410 Digital phone                                       271.9600   5         0.20       27.1960      1
                          9977    US-2016-103674  12/6/2016   12/10/2016  Standard Class  AP-10720     Anne Pryor       Home Office  United States  Los Angeles    California    90032        West     TEC-PH-10002496  Cisco SPA301                                                   249.5840   2         0.20       31.1980      1
                          9984    US-2016-157728  9/22/2016   9/28/2016   Standard Class  RC-19960     Ryan Crowe       Consumer     United States  Grand Rapids   Michigan      49505        Central  TEC-PH-10001305  Panasonic KX TS208W Corded phone                               97.9800    2         0.00       27.4344      1
                          9989    CA-2017-163629  11/17/2017  11/21/2017  Standard Class  RA-19885     Ruben Ausman     Corporate    United States  Athens         Georgia       30605        South    TEC-PH-10004006  Panasonic KX - TS880B Telephone                                206.1000   5         0.00       55.6470      1
                          9992    CA-2017-121258  2/26/2017   3/3/2017    Standard Class  DB-13060     Dave Brooks      Consumer     United States  Costa Mesa     California    92627        West     TEC-PH-10003645  Aastra 57i VoIP phone                                          258.5760   2         0.20       19.3932      1
Name: count, Length: 9994, dtype: int64